.container1{
    background-image: url(images/apple1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
h2{
    font-size: 56px;
}
h3{
    font-size: 28px;
}
@media all and (min-width: 769px) and (max-width: 1027px){
    h2{
        font-size: 48px;
    }
    h3{
        font-size: 24px;
    }
}
@media all and (min-width: 320px) and (max-width: 480px){
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 19px;
    }
}
body{
    margin: 0%;
}
header{
    display: flex;
    justify-content: center;
    background-color: #121212;
}
nav{
    display: flex;
    gap: 50px;
}
.seccion{
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}